#tabs {
    margin-top: 20vh;
    border: none;
}

.zodiacList {
    margin: 0 auto;
    width: 780px;
    height: 800px;
}

.items {
    float: left;
    width: 168px;
    height: 240px;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #acc6e9;
    background: #e8f5fe;
}

.item_title {
    height: 24px;
    line-height: 24px;
    background: #afc6e9;
    margin-top: 0px;
}

.items img {
    position: relative;
    top: -18px;
    left: 0px;
}

#loader {
    height: 24px;
    text-align: center;
}

.clear {
    clear: both;
}

.zodiacColour {
    height: 300px;
}

.colorSelecter,
.nameColourList,
.nameColourItem {
    display: inline-block;
}

.colorSelecter {
    border: 1px solid #c5c5c5;
}

.nameColourList {
    position: relative;
    right: -10px;
    top: -70px;
    margin-top: -60px;
    max-width: 500px;
}

.nameColourItem {
    width: 150px;
    margin-top: 10px;
}

.zodiacColourWatch {
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
}

#red,
#green,
#blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
}

#hexColor {
    float: left;
    clear: left;
    margin: 15px;
    line-height: 25px;
}

#hexColor .hexColorInput {
    width: 80px;
}

#swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    margin-right: 10px;
    background-image: none;
}

#submitColor {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#red .ui-slider-range {
    background: #ef2929;
}

#red .ui-slider-handle {
    border-color: #ef2929;
}

#green .ui-slider-range {
    background: #8ae234;
}

#green .ui-slider-handle {
    border-color: #8ae234;
}

#blue .ui-slider-range {
    background: #729fcf;
}

#blue .ui-slider-handle {
    border-color: #729fcf;
}

.layoutLogin {
    position: absolute;
    top: 20vh;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 150%;
    background-image: url(../Img/layoutBackground.png);
}

.layoutLogin a {
    margin-top: 500px;
}

.loginButtonDiv {
    min-height: 20vh;
    max-width: 20vw;
    background-color: white;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 100003;
    border: 1px solid #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #888888;
    text-align: center;
}

.loginButtonDiv span {
    font-size: 3vw;
    padding-top: 4vh;
}

.bfLogin {
    display: block;
    width: 15vw;
    height: auto;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.loginSubTitle {
    width: 25%;
    margin-left: auto;
    position: relative;
    top: -3vh;
}

.loginSubTitle img {
    width: 3vw;
    height: auto;
}

.loginSubTitle span {
    position: relative;
    margin-left: 0.5vw;
    font-size: 2.2vw;
    top: -1vh;
}

.loginSubTitle .logout {
    font-size: 1.5vw;
    margin-left: 1vw;
    color: #729fcf;
    cursor: pointer;
}